doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/login.css") 
  body
    .container
      .login-form
        block content
         h1 Admin Login
        -//change this 
        form(action="/login", method="post")
          .form-group
            label(for="username") Username
            input(type="text", id="username", name="username", placeholder="Enter your username")
          .form-group
            label(for="password") Password
            input(type="password", id="password", name="password", placeholder="Enter your password")
          
          button.login-button(type="submit") Login
        

