doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/login.css") 
  body
    .container
      .login-form
        block content
          h1 Welcome, #{username}!

          p You have successfully logged in.
          p Add more content or features here for the logged-in user.

          //- Add a logout link
          a(href="/logout") Logout